.content {
	max-height:100vw;
	height: 44vw;
	width:100%;
	padding-top: 2%;
}
.news{
	padding-left: 1%;
	padding-right: 1%;
}
.fon-zagolovka{
	height: auto;
    background: #dedbe6;
    padding: 5px;
    margin: 5px;
    border-radius: 20px 20px 0 0;
}
.zagolovok {
	height: auto;
	text-align: center;
	padding-top: 1%;
	color: black;
}
.Sect3 {
	height:auto;
	background: #dedbe6;
}
.content .news .news_text {
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 1%;
	height: 13%;
}
.date {
	text-align: right;
	padding-right: 1%;
}
.cont_rad {
	 text-align:center;

 }
.ticker{
	width: 100%;
	height: auto;
	border: 1px solid #Ddd;
	margin: 0;
	padding: 1%;
	list-style: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ddd;
	overflow: hidden;
}
.ticker li{
	border-bottom: 1px	solid #ddd;
	padding: 5px;
	margin: 0px 5px;
	background: #dedbe6;
}
 .fon-zagolovka-radmin {
	 height:auto;
	 background: #dedbe6;
	 margin-bottom: 5px;
	 border-radius: 20px 20px 0 0;
 }
.table{
	padding-top: 5px;
	border-collapse: collapse;
}
th {
  border-bottom: 3px solid black;
  padding: 10px;
  text-align: center;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: #dedbe6;
}
tr:nth-child(even) {
  background: #d1cfd4;
}

.zag-regul {
	text-align:center;
	color:white;
	width: 100%;
	height:5%;
	display: inline-block;
}

.table table{
background: #dedbe6;
font-size: 95%;
width: 100%;
}

.table td {
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}


.table th {

	font-size: 16px;
}


 .fon-zagolovka-regulations {
	 height:auto;
	 background: #dedbe6;
	 /*! margin-bottom: 5px; */
	 border-radius: 20px 20px 0 0;
 }