.left_list {
	height:60%;
	float: left;
	}
	
.Sect1 {
    
    width: 100%;
    height: auto;
    background: #dedbe6;
    border-radius: 20px 20px 20px 20px;
}

    .Sect1 ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: auto;
        height: 80%;
    }

        .Sect1 ul li {
            display: block;
            height: auto;
            width: auto;
            /*! background: #dedbe6; */
            border-bottom: 1px solid black;
        }

            .Sect1 ul li a {
                text-decoration: none;
                font-family: sans-serif;
                display: block;
                padding: 15px 10px;
                color: black;
                cursor: pointer;
                font-size:14px;
            }

                .Sect1 ul li a img {
                    height: 16px;
                    width: 16px;
                }
				

.Sect1 a:hover {
    color: white; 
    background: #6bc4a6;
   }
   

   
   
.Sect1 a.top:hover {
border-radius: 20px 20px 0 0 ;
color: #dcdbe1;
background: #6bc4a6;
}

.Sect1 a.bottom:hover {
border-radius:  0 0 20px 20px;
color: #dcdbe1;
background: #6bc4a6;
}
   







