* {
	box-sizing: border-box;
}
header {
	width: 100%;
	height: 20%;

}


inner-header {
	display: flex;
    height: 100%;
}

header-flag,
header-logo-name,
header-gerb {
	width: 33.3%;
	position: relative;
	padding: 0;
}

header-logo-name{
    text-align: center;
}

flag {
	max-width: 100%;
}

gerb {
	float: right;
	max-width: 100%;
}
.header-img{
	width: auto;
	height: auto;
	max-width: 100%;
}
logo-name {
	/*height: 90%;*/
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: whitesmoke;
	line-height: 1.2;
	font-size: 1.5vw;
	text-shadow: 2px 2px dimgray;
}

.scale {
	transition: 1s;
	height: 5vw;
	width: auto;
}

.scale:hover {
	transform: scale(4);
}

@media screen and (max-width: 1600px) {    /* Если размер больше то  не включается */
.wrapper {
	margin-left:8%;
	margin-right:8%;
}
}

@media screen and (max-width: 1200px) {
.wrapper {
	margin-left:0;
	margin-right:0;
}
}
