{% extends 'citov\index.html' %}
{% block title %}
    {{ institution.name }} :: {{ block.super }}
{% endblock %}
{% block left_menu %}
    <div class="left_main" style="width: 4%">

        <div class="Sect1">
            <ul>
                <li><a href="/base/">Все</a></li>
                {%  for institution in institutions %}
                    <li><a href="{{ institution.get_absolute_url }}">{{ institution.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock left_menu%}
{% block content %}
    <div class="content"style="width: 94%">
        <div class="fon-zagolovka-regulations">
            <div class="zagolovok">
                <b>Радиостанции</b>
            </div><br>
        </div>

        <div class="table">
            <table border="1" >
                <tr>
                    <th>№ п.п.</th>
                    <th>Учреждение</th>
                    <th>Инвентарный номер</th>
                    <th>Серийный номер</td>
                    <th>Наименование РС</th>
                    <th>Категория РС</th>
                    <th>Место эксплуатации оборудования</th>
                </tr>

                {% for rs in base %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ rs.institution }}</td>
                        <td>{{ rs.inventory_number }}</td>
                        <td>{{ rs.serial_number }}</td>
                        <td>{{ rs.model_name }}</td>
                        <td>{{ rs.category }}</td>
                        <td>{{ rs.place_of_opeation }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    </div>
{% endblock content %}
