{% extends 'citov\index.html' %}
{% block title %}
    Радиостанции :: {{ block.super }}
{% endblock %}
{% block left_menu %}
        <div class="row2" style="">
        <div class="left_main" style="width: auto">
            <div class="Sect1">
                <ul>
                <li><a href="{% url 'reestr' %}">Все</a></li>
                {%  for institution in institutions %}
                    <li><a href="{{ institution.get_absolute_url }}">{{ institution.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
{% endblock left_menu%}
{% block content %}
    <div class="content"style="width: 94%">
        <div class="fon-zagolovka-regulations">
            <h1 class="zagolovok">
                <div class="active"><a>Радиостанции: </a>
                    <ul class="submenu">
                        <li>1</li>
                        <li>2</li>
                    </ul>
                </div>
            </h1>
            <br>
        </div>

        <div class="table">
            <table border="1" >
                <tr>
                    <th>№ п.п.</th>
                    <th>Учреждение</th>
                    <th>Инвентарный номер</th>
                    <th>Серийный номер</td>
                    <th>Наименование РС</th>
                    <th>Категория РС</th>
                    <th>Год выпуска РС</th>
                    <th>Дата ввода в эксплуатацию</th>
                    <th>Приказ о закреплении</th>
                    <th>Место эксплуатации оборудования</th>
                    <th>Коммментарии</th>
                </tr>

                {% for rs in radiostations %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ rs.institution }}</td>
                        <td>{{ rs.inventory_number }}</td>
                        <td>{{ rs.serial_number }}</td>
                        <td>{{ rs.model_name }}</td>
                        <td>{{ rs.get_category_display }}</td>
                        <td>{{ rs.production_year }}</td>
                        <td>{{ rs.date_to_work|date:"d.m.Y" }}</td>
                        <td>{{ rs.order }}</td>
                        <td>{{ rs.get_place_of_opeation_display }}</td>
                        <td>{{ rs.comment }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
