{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ФКУ ЦИТОВ ГУФСИН России по Свердловской области{% endblock %}</title>
    <link rel="icon" href="{% static "citov\images\favicon.ico" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'citov/css/html5reset.css' %}">
    <link rel="stylesheet" href="{% static "citov\css\style.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\left_main.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\content.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\main.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\regulations.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\scan.css" %}">
    <script src="{% static "citov\js\script.js" %}"></script>
    <script src="{% static "citov\js\speedtest\jquery-1.4.1.min.js" %}"></script>
    <script src="{% static "citov\js\speedtest\smsjqm.js" %}"></script>
</head>

<body>
    <header>
        <a href="/">
        <inner-header>
            <header-flag>
                <flag>
                    <img src="{% static "citov\images\flag.png" %}" class="header-img">
                </flag>
            </header-flag>
            <header-logo-name>
                <logo-name>
                    ЦИТОВ ГУФСИН РОССИИ <br>
                    ПО СВЕРДЛОВСКОЙ ОБЛАСТИ <br>
                    техподдержка
                </logo-name>
            </header-logo-name>
            <header-gerb>
                <gerb>
                    <img src="{% static "citov\images\gerb2.png" %}" class="header-img">
                </gerb>
            </header-gerb>
        </inner-header>
        </a>
    </header>
    {% include 'citov/inc/sidebar.html' %}

    {% block content %}

    {% endblock content %}
</body>
</html>
