{% load static %}
{% load common_tags  %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ФКУ ЦИТОВ ГУФСИН России по Свердловской области{% endblock %}</title>
    <link rel="ico" href="{% static "citov\images\favicon.ico" %}">
    <link rel="stylesheet" href="{% static "citov\css\style.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\left_main.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\content.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\main.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\regulations.css" %}">
    <link rel="stylesheet" href="{% static "citov\css\scan.css" %}">
    <script src="{% static "citov\js\script.js" %}"></script>
    <script src="{% static "citov\js\speedtest\jquery-1.4.1.min.js" %}"></script>
    <script src="{% static "citov\js\speedtest\smsjqm.js" %}"></script>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <Header class="row2">
            <div class="flag">
                <img class="inner-flag" src="{% static "citov\images\head_bg.png" %}">
            </div>
            <div class="logo-name">
                <img class="text" src="{% static "citov\images\321.png" %}">
                <div id="clock"></div>
            </div>
            <div class="gerb">
                <img class="inner-gerb" src="{% static "citov\images\Sverdlovskoblast.svg.png" %}">
            </div>
        </Header>
    </div>
        {% include "citov\inc\_sidebar.html" %}
    {% block content_no_left_menu %}
        <div class="row">
            {% block left_menu %}
{#                {% include "citov\inc\left_menu.html" %}#}
                {% show_left_menu %}
            {% endblock left_menu%}
            {% block content %}

            {% endblock content %}
        </div>
    {% endblock content_no_left_menu %}
</div>
</body>
</html>
