{% extends 'citov\index.html' %}
{% block title %}
    Новости и Объявления :: {{ block.super }}
{% endblock %}
{% block content %}
    <div class="content">
        <ul id="ticker_02" class="ticker">
            <div class="fon-zagolovka">
                <div class="zagolovok">
                    <b>Новости и Объявления</b>
                </div><br>
            </div>
            {% for news in news %}
                <li>
                    <h1 class="zagolovok"><b>{{ news.title }} </b></h1>
                    <br>
                    {% autoescape off %}
                        <article class="news">{{ news.news_text }}</article>
                    {% endautoescape %}
                    <br>
                    <div class="date">{{ news.date }}</div>
                    <hr/>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}