{% extends 'citov\left_menu.html' %}

{% block content %}
<div class="content">
    <div class="fon-zagolovka-regulations">
        <div class="zagolovok">
        <b>Приказы</b>
        </div>
    </div>
    <div class="table">
        <table border="1" >
            <tr>
            <th>№ п.п.</th>
            <th>Описание</th>
            <th>Дата приказа</th>
            <th>Номер приказа</th>
            </tr>
            <tr><td>1</td>
                <td>Распоряжение ГУФСИН "Об организации связи в 2021 году" </td>
                    <td>от 24.12.2020</td>
                        <td><a href="/doki/file/nomenklatura_del/prikazi/Ras_GUFSIN_ot_24.12.2020_№_187.pdf"target="_blank">№187</a></td>


            <tr><td>2</td>
                <td>Приказ Минюста России "Об утверждении Наставления по связи в уголовно-исполнительной системе" </td>
                    <td>от 13.06.2007</td>
                        <td><a href="/doki/file/nomenklatura_del/prikazi/Prikaz MINYUST ot 13.06.2007 №123.pdf"target="_blank">№123</a></td>


            <tr><td>3</td>
                <td>Приказ ГУФСИН "Об организации технического бслуживания средств связи ГУФСИН в 2021 году" </td>
                    <td>от 09.02.2021</td>
                        <td><a href="/doki/file/nomenklatura_del/prikazi/Prikaz_GUFSIN_ot_09.02.2021_№_88.pdf"target="_blank">№88</a></td>


            <tr><td>4</td>
                <td>Приказ ГУФСИН "Об утверждении норм положенности средств связи и аппаратуры передачи данных" </td>
                    <td>от 20.12.2019</td>
                        <td><a href="/doki/file/nomenklatura_del/prikazi/Prikaz GUFSIN ot 20.12.2019 №1336.pdf"target="_blank">№1336</a></td>
        </table>
    </div>
</div>
{% endblock content %}