{% extends 'citov\index.html' %}
{% block title %}
    Гос. контракты :: {{ block.super }}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="fon-zagolovka-regulations">
            <div class="zagolovok">
                <b>Государственные контракты</b>
            </div><br>

        </div>
        <div class="table">
            <table border="1" >
                <tr>
                    <th>№ п.п.</th>
                    <th>Описание</th>
                    <th>Дата ГК</th>
                    <th>Номер ГК</td>
                    <th>Поставщик</th>
                </tr>

                {% for gk in regulations %}
                    <tr>
                        <td>{{ gk.id }}</td>
                        <td>{{ gk.title}} </td>
                        <td>{{ gk.date|date:"d.m.Y"}}</td>
                        <td><a href="{{ gk.upload }}" download>№ {{ gk.number }}</a></td>
                        <td>{{ gk.post }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}