<div class="left_main">
    <div class="Sect1">
        <ul>
            <li><a href="http://citov.ekaterinburg.fsin.uis/doki/sed_uis/">Документация ФГИС СЭД УИС</a></li>
            <li><a href="{% url 'sempl' %}">Документация ФГИС СЭМПЛ УИС</a></li>
            <li><a href="http://citov.ekaterinburg.fsin.uis/doki/nbo/">Документация ФГИС СКТС УИС</a></li>
            <li><a href="http://citov.ekaterinburg.fsin.uis/doki/ftp/uploads/">FTP сервер ФКУ ЦИТОВ ГУФСИН</a></li>
            <li><a href="http://citov.ekaterinburg.fsin.uis/doki/">HTTP-сервер ФКУ ЦИТОВ ГУФСИН</a></li>
            <li><a href="http://ipt.fsin.uis/">ФКУ НИИИТ ФСИН России</a></li>
            <li><a href="http://10.80.2.2/">Техническая поддержка ФГУП ЦИТОС ФСИН России</a></li>
            <li><a class="bottom" href="{% url 'scanmyspeed' %}">Проверка скорости канала</a></li>
            {% for item in left_menu %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>