<div class="left_main">
    <div class="Sect1">
        <ul>
            {% for item in left_menu %}
                {% if item.position == 1 %}
                    <li><a class="top" href="{{ item.url }}">{{ item.name }}</a></li>
                {% elif item.position == last %}
                    <li><a class="bottom" href="{{ item.url }}">{{ item.name }}</a></li>
                {% else %}
                    <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>