<div class="main">
        <ul class="topmenu">
            <li><a href="#">ФГИС СЭД УИС</a>
            <ul class="submenu">
                <li><a href="http://10.66.198.3:8080/portal" target="_blank"   rel="noopener">СЭД ГУФСИН РОССИИ по Свердловской области</a></li>
                <li><a href="http://10.66.198.11:8080/portal" target="_blank"   rel="noopener">СЭД Учреждений ГУФСИН РОССИИ по Свердловской области</a></li>
            </ul>
            </li>
            <li><a href="#">Тел. справочники</a>
            <ul class="submenu">
                <li><a href="http://citov.ekaterinburg.fsin.uis/doki/ftp/uploads/CITOV/TelSpravochniki/fsin.pdf" target="_blank"   rel="noopener">Тел. справочник ФСИН России</a></li>
                <li><a href="http://citov.ekaterinburg.fsin.uis/doki/ftp/uploads/CITOV/TelSpravochniki/gufsin.pdf" target="_blank"   rel="noopener">Тел. справочник ГУФСИН России по Свердловской области</a></li>
                <li><a href="http://citov.ekaterinburg.fsin.uis/doki/ftp/uploads/CITOV/TelSpravochniki/ychrejdeniya.pdf" target="_blank"   rel="noopener">Тел. справочник учреждений ГУФСИН России по Свердловской области</a></li>
                <li><a href="http://citov.ekaterinburg.fsin.uis/doki/ftp/uploads/CITOV/TelSpravochniki/TerOrg/">Тел. справочник Территориальных органов ФСИН России</a></li>
            </ul>
            </li>
            <li><a href="#">Документация</a>
            <ul class="submenu">
                <li><a href="../regulations/">Государственные контракты</a></li>
			    <li><a href="../orders/">Приказы</a></li>
                <li><a href="../radmin/">Инструкция по установке Radmin Server</a></li>
                <li><a href="http://citov.ekaterinburg.fsin.uis/doki/ftp/FTP_GUFSIN.pdf" target="_blank"   rel="noopener">Инструкция  по использованию FTP сервера ГУФСИН</a></li>
                <li><a href="http://citov.ekaterinburg.fsin.uis/doki/sed_uis/" target="_blank"   rel="noopener">Документация ФГИС СЭД УИС</a></li>
                <li><a href="../sempl/">Документация ФГИС СЭМПЛ УИС</a></li>
                <li><a href="http://citov.ekaterinburg.fsin.uis/doki/nbo/" target="_blank"   rel="noopener">Документация ФГИС СКТС УИС</a></li>
                <li><a href="http://citov.ekaterinburg.fsin.uis/doki/" target="_blank"   rel="noopener">FTP-сервер ФКУ ЦИТОВ ГУФСИН</a></li>
                <li><a href="../base/">1св</a></li>
            </ul>
            </li>
            <li><a href="#">Сервисы</a>
            <ul class="submenu">
                <li><a href="https://mail.ekaterinburg.fsin.uis/" target="_blank"   rel="noopener">Почта УИС</a></li>
			    <li><a href="http://ipt.fsin.uis/" target="_blank"   rel="noopener">ФКУ НИИИТ ФСИН России</a></li>
                <li><a href="http://10.80.2.2/" target="_blank"   rel="noopener">Техническая поддержка ФГУП ЦИТОС ФСИН России</a></li>
                <li><a href="../scanmyspeed/">Проверка скорости канала</a></li>
            </ul>
            </li>
            <li><a href="http://66.fsin.su/" target="_blank"   rel="noopener">cайт ГУФСИН</a></li>
        </ul>
</div>